<!-- _includes/contact-strip.html -->
<div class="contact-strip">
    <div class="container">
      <div class="contact-strip__content">
        <div class="contact-strip__left">
          <!-- Left side can be empty or used for other elements -->
        </div>
        <div class="contact-strip__right">
          <a href="tel:081 303 9611" class="contact-strip__phone">
            <i class="fas fa-phone contact-strip__icon"></i>081 303 9611</a>
          
            <a href="https://wa.me/27813039611" class="contact-strip__phone" target="_blank">
            <i class="fab fa-whatsapp contact-strip__icon"></i>
            Message via Whatsapp
          </a>
        </div>
      </div>
    </div>
  </div>