// Font Mixins
@mixin serif-font {
  font-family: "Poppins", cursive;
}
@mixin script-font {
  font-family: "Poppins", cursive;
}
@mixin body-font {
  font-family: "Poppins", cursive;
}
@mixin heading-font {
  font-family: "Poppins", cursive;
}
