#clients {
  position: relative;
  z-index: 1;

  .client-logo-card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    img {
      max-height: 50px;
      max-width: 80px;
      filter: grayscale(0%);
      transition: filter 0.3s ease;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  // add 50px below the *last heading* in this section
  .section-heading:last-of-type {
    margin-bottom: 50px;
  }
}
