.contact-strip {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;

  &__content {
    display: flex;
    justify-content: center; // Center elements horizontally
    align-items: center;
    height: 40px;
    gap: .5rem; // Adds spacing between the left and right elements
    padding: 20px 20px; // Optional: horizontal padding inside the strip
  }

  &__left, &__right {
    display: flex;
    align-items: center;
  }

  &__phone, &__login {
    display: flex;
    align-items: center;
    color: #0a233c;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
    padding: .5rem;;

    &:hover {
      color: #0057ff;
    }
  }

  &__icon {
    margin-right: 6px;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-strip {
    display: none;
  }
}
